@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Rammetto+One&display=swap');

html,
body {
  background: #f8f8f8;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
